/* src/components/AboutUs.css */

.about {
  text-align: center;
  margin-bottom: 50px; /* Ajusta el margen inferior según sea necesario */
  margin-top: -5px;
  background-color: #F3B01C;
}

.about-content {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 25px;
}
