/* src/components/AboutUs.css */

.about {
  text-align: center;
  margin-top: -5px;
  background-color: #F3B01C;
}

.about-content {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 25px;
}


.about-content h2{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.about-content p{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}