/* src/components/Carousel.css */

.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffcccc;
  padding: 20px;
  overflow: hidden; /* Ocultar imágenes adicionales */
}

.carousel-image {
  width: 15%;
  height: auto;
  transition: transform 0.5s ease; /* Agregar transición de desplazamiento */
}

.center-image {
  transform: scale(1.2); /* Aumentar el tamaño de la imagen del medio */
}
