 /* src/components/ContactForm.css */

.contact-form {
  display: flex;
}

.left-column {
  flex: 1;
  background-color: #25211d;
  color: #f3b01b; /* Cambiar color del texto */
  text-align: center; /* Centrar el contenido */
}

.left-column img {
  max-width: 80%; /* Reducir el tamaño de la imagen */
}

.right-column {
  flex: 1;
  background-color: #f3b01b;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.5em; /* Ajustar tamaño del texto */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #25211d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #000;
}

.left {
    line-height: 30px;
}

.left h2{
    font-size: 80px;
}

.left p{
    font-size: 55px;
}