 /* src/components/ContactForm.css */

.contact-form {
  display: flex;
}

.left-column {
  flex: 1;
  background-color: #25211d;
  color: #f3b01b; /* Cambiar color del texto */
  text-align: center; /* Centrar el contenido */
}

.left-column img {
  max-width: 80%; /* Reducir el tamaño de la imagen */
}

.right-column {
  flex: 1;
  background-color: #f3b01b;
  padding: 0px 20px 0px 20px;
}

.form-group {
  margin-bottom: 15px;
  width: 80%; /* Ajustar el ancho de los inputs */
  margin-left: 10%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.5em; /* Ajustar tamaño del texto */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Ajustar el radio de borde para hacerlo más redondeado */
}

button {
    width: 15%;
    padding: 10px 20px;
    background-color: #fdf3ea;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10%;
    font-size: 20px;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

button:hover {
  background-color: #000;
}

.left {
  line-height: 30px;
}

.left h2 {
  font-size: 80px;
}

.left p {
  font-size: 55px;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Ajustar el radio de borde para hacerlo más redondeado */
  resize: none; /* Evitar que se pueda redimensionar desde la esquina */
  height: 200px; /* Ajustar la altura del textarea */
}
