/* src/components/NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; /* Modificar el padding */
  background-color: #1c1b1a;
  color: white;
  height: 80px; /* Altura predeterminada */
  transition: padding-bottom 0.3s ease, height 0.3s ease; /* Cambiar el orden de las transiciones */
  position: sticky; /* Cambiar de fixed a sticky */
  top: 0; /* Pegar la barra de navegación en la parte superior */
  z-index: 1000;
  width: 100%;
}

.navbar-left img {
  width: 20%; /* Tamaño más pequeño */
  margin-left: 20%;
  cursor: pointer; /* Agregar cursor de puntero */
}

.navbar-left img:hover {
  opacity: 0.8; /* Cambiar la opacidad cuando se pasa el mouse */
}

.navbar-right {
  margin-right: 25px;
}

.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-right ul li {
  margin-right: 20px;
  font-size: 18px;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #f3b01b;
}

/* Estilos para el botón de hamburguesa */
.hamburger-menu {
  display: none; /* Ocultar por defecto en pantallas mayores a 800px */
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu.open span:nth-child(1) {
  transform: translateY(10px) rotate(50deg);
}

.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
  transform: translateY(-10px) rotate(-50deg);
}

/* Mostrar el menú en pantallas menores a 800px */
@media screen and (max-width: 800px) {
  .navbar-right ul {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 1;
  }

  .navbar-right.open ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #1c1b1a;
    padding: 10px;
    border-radius: 5px;
    text-align: end;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s ease 0.3s; /* Transición con retraso de 0.3s */
  }

  .navbar-right.open ul.show {
    opacity: 1; /* Mostrar */
  }

  /* Aumentar el padding-bottom cuando el menú está abierto */
  .navbar.menu-open {
    padding-bottom: 110px;
  }

  .navbar-left img{
    margin-left: 5%;
  }
}
