/* src/components/NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1c1b1a;
  color: white;
}

.navbar-left img {
  width: 20%; /* Tamaño más pequeño */
  margin-left: 20%;
}

.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-right ul li {
  margin-right: 20px;
  font-size: 18px;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #f3b01b;
}

.navbar-right{
  margin-right: 5%;
}

