/* src/components/ProductDetail.css */

.ProductDetail {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.ProductDetail.open {
  opacity: 1;
  max-height: 500px; /* Ajusta el valor según sea necesario */
}

.ProductDetail-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.ProductDetail-content.open {
  opacity: 1;
  max-height: 500px;
}

.productImage {
  cursor: pointer;
}
