/* src/components/ProductDetail.css */

.productDetail {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.productDetail.open {
  opacity: 1;
  max-height: 500px; /* Ajusta el valor según sea necesario */
}
