/* src/components/ProductDetail.css */

.bimageInfo {
    margin: 2% 0px 0 0;
    width: 30%;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 1000;
}

.ReactModal__Content.ReactModal__Content--after-open {
    background-color: #25211d !important;
    padding: 50px !important;
    inset: 75px !important;
}

.product-image {
  width: 80%;
  max-width: 100%; /* Ajusta el ancho máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  margin-left: 25px;
}

.product-detail-container {
  display: flex;
  width: 100%;
}

.product-detail-left,
.product-detail-right {
  flex: 1;
  padding: 0 10px; /* Espacio entre los elementos si es necesario */
}

.product-detail-left {
  text-align: left; /* Alinea el contenido a la izquierda */
}

.product-detail-right {
  text-align: right; /* Alinea el contenido a la derecha */
}

.product-title-container {
    display: flex;
    align-items: center;
    width: auto; /* Cambiar a "auto" para permitir que el contenedor se ajuste al contenido */
    height: auto;
}

.product-title-left {
    /* flex: 1; */ /* Comentar o eliminar esta línea para ajustar el ancho automáticamente */
    width: 5%; /* Cambiar a "auto" para permitir que el ancho se ajuste al contenido */
    margin-right: 10px; /* Ajustar el margen según sea necesario */
}

.product-title-right {
    /* flex: 1; */
    width: 6%;
    text-align: right;
    margin-left: 10px;
}


.product-title-left img,
.product-title-right img {
  max-width: 100px; /* Ajusta el ancho máximo de las imágenes */
  height: auto; /* Mantiene la proporción de las imágenes */
}



.product-title-container h2 {
    width: 70%;
    font-size: 4rem;
}

/* Agrega esto al archivo ProductDetail.css */
.close-button {
  position: absolute;
  top: 5px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f3b01b; /* Color de fondo con opacidad */
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

